@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

$-clr-LightCyan: hsl(193, 38%, 86%);
$-clr-NeonGreen: hsl(150, 100%, 66%);
$-clr-GrayishBlue: hsl(217, 19%, 38%);
$-clr-DarkGrayishBlue: hsl(217, 19%, 24%);
$-clr-DarkBlue: hsl(218, 23%, 16%);

$-fs-quote: 1.75rem;

html {
  background-color: $-clr-DarkBlue;
}

body {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 90vw;
  background-color: $-clr-DarkGrayishBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 7rem;
  border-radius: 0.5rem;
  padding: 2rem 2rem 0rem 2rem;

  .card__number {
    color: $-clr-NeonGreen;
    text-transform: uppercase;
  }
  .card__quote {
    color: $-clr-LightCyan;
    font-size: $-fs-quote;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after {
      content: url(../images/pattern-divider-mobile.svg);
        padding: 1rem;
    }
  }
  .card__dice {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $-clr-NeonGreen;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: relative;
    bottom: -1.5rem;
    img {
      height: 50%;
    }
    &:hover {
      box-shadow: 0rem 0rem 1rem $-clr-NeonGreen;
    }
  }
}

.attribution {
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 11px;
  text-align: center;
  color: $-clr-DarkGrayishBlue;
  padding: .5rem;
  a {
    color: $-clr-GrayishBlue;
    text-decoration: none;
  }
  a:hover {
    color: $-clr-LightCyan;
  }
}
